In [ ]:
import psycopg2

conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a09",user='a09',password='raspberry')
with conn:
    with conn.cursor() as cursor:
        sql='''
        INSERT INTO 市場 values (%s,%s)
        ON CONFLICT DO NOTHING;
        '''
        cursor.execute(sql,['^TWII','台灣'])
conn.close()

In [ ]:
import yfinance as yf
taiwan = yf.download('^TWII')

In [ ]:
import yfinance as yf
# taiwan = yf.download('^TWII')
taiwan = yf.download('2330.TW')
print(taiwan)

[*********************100%***********************]  1 of 1 completed

Price                        Adj Close        Close         High          Low  \
Ticker                         2330.TW      2330.TW      2330.TW      2330.TW
Date
2000-01-04 00:00:00+00:00    34.216965    69.649033    69.649033    68.475182
2000-01-05 00:00:00+00:00    34.985806    71.214043    71.214043    68.866341
2000-01-06 00:00:00+00:00    34.216965    69.649033    71.214043    69.649033
2000-01-07 00:00:00+00:00    33.255753    67.692490    68.475182    66.518639
2000-01-10 00:00:00+00:00    34.409119    70.040192    70.431351    68.475182
...                                ...          ...          ...          ...
2024-11-04 00:00:00+00:00  1040.000000  1040.000000  1045.000000  1025.000000
2024-11-05 00:00:00+00:00  1050.000000  1050.000000  1055.000000  1030.000000
2024-11-06 00:00:00+00:00  1060.000000  1060.000000  1080.000000  1040.000000
2024-11-07 00:00:00+00:00  1065.000000  1065.000000  1075.000000  1050.000000
2024-11-08 00:00:00+00:00  1090.000000  1090.000000  1090.000000  1080.000000

Price                             Open        Volume
Ticker                         2330.TW       2330.TW
Date
2000-01-04 00:00:00+00:00    69.649033  200662336736
2000-01-05 00:00:00+00:00    69.649033  402466805912
2000-01-06 00:00:00+00:00    70.822884  197545715802
2000-01-07 00:00:00+00:00    67.301331  235270344752
2000-01-10 00:00:00+00:00    69.649033  276171685539
...                                ...           ...
2024-11-04 00:00:00+00:00  1030.000000      26747978
2024-11-05 00:00:00+00:00  1030.000000      32385622
2024-11-06 00:00:00+00:00  1050.000000      55349259
2024-11-07 00:00:00+00:00  1050.000000      43975446
2024-11-08 00:00:00+00:00  1085.000000      37099479

[6191 rows x 6 columns]

In [ ]:
all_data = taiwan.to_dict(orient='index')
for key,value in all_data.items():
    date = key.date()
    name = '^TWII'
    print(date)
    adj_close = value[('Adj Close', name)]
    open = value[('Open', name)]
    high = value[('High', name)]
    low = value[('Low', name)]
    close = value[('Close', name)]
    volume = value[('Volume', name)]

In [10]:
from decimal import Decimal
conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a09",user='a09',password='raspberry')
with conn:
    all_data = taiwan.to_dict(orient='index')
    for key,value in all_data.items():
        date = key.date()
        name = '^TWII'
        adj_close = Decimal(value[('Adj Close', name)])
        open = Decimal(value[('Open', name)])
        high = Decimal(value[('High', name)])
        low = Decimal(value[('Low', name)])
        close = Decimal(value[('Close', name)])
        volume = Decimal(value[('Volume', name)])
        with conn.cursor() as cursor:
            sql='''
            INSERT INTO 股市(date,open,high,low,close,adj_close,volume,name) 
            values(%s,%s,%s,%s,%s,%s,%s,%s)
            ON CONFLICT DO NOTHING;
            '''
            cursor.execute(sql,[date,open,high,low,close,adj_close,volume,name])
conn.close()

In [8]:
conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a31",user='a31',password='raspberry')
with conn:
    with conn.cursor() as cursor:
        sql='''
        INSERT INTO 市場 values (%s,%s)
        ON CONFLICT DO NOTHING;
        '''
        cursor.execute(sql,['^HSI','香港恒生'])
conn.close()

In [9]:
import yfinance as yf
hsi = yf.download('^HSI')
all_data = hsi.to_dict(orient='index')

[*********************100%***********************]  1 of 1 completed

In [ ]:
from decimal import Decimal
from dotenv import load_dotenv
load_dotenv()
conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a09",user='a09',password='raspberry')
with conn:
    all_data = hsi.to_dict(orient='index')
    for key,value in all_data.items():
        date = key.date()
        name = '^HSI'
        adj_close = Decimal(value[('Adj Close', name)])
        open = Decimal(value[('Open', name)])
        high = Decimal(value[('High', name)])
        low = Decimal(value[('Low', name)])
        close = Decimal(value[('Close', name)])
        volume = Decimal(value[('Volume', name)])
        with conn.cursor() as cursor:
            sql='''
            INSERT INTO 股市(date,open,high,low,close,adj_close,volume,name) 
            values(%s,%s,%s,%s,%s,%s,%s,%s)
            ON CONFLICT DO NOTHING;            
            '''
            cursor.execute(sql,[date,open,high,low,close,adj_close,volume,name])
conn.close()