In [19]:
import psycopg2
conn = psycopg2.connect(host='192.168.0.252',
                        database='mydatabase_a09',
                        user='a09',
                        password='raspberry')

sql1 = '''INSERT INTO 市場 values (%s,%s)
        ON CONFLICT DO NOTHING;'''

sql2 = '''CREATE TABLE IF NOT EXISTS 股市(
        stock_id SERIAL,
        date DATE,
        open NUMERIC(17,10),
        high NUMERIC(17,10),
        low NUMERIC(17,10),
        close NUMERIC(17,10),
        adj_close NUMERIC(17,10),
        volume BIGINT DEFAULT 0,
        name VARCHAR(20),
        PRIMARY KEY(stock_id),
        UNIQUE(date,name)
        FOREIGN KEY(name) REFERENCES 市場(name) 
        ON DELETE NO ACTION
        ON UPDATE CASCADE
        ) ON CONFLICT DO NOTHING;'''

with conn:
    with conn.cursor() as cursor:        
        cursor.execute(sql1,['^TWII','台灣'])
    with conn.cursor() as cursor:        
        cursor.execute(sql1,['^HSI','香港恆生'])

conn.close()

In [5]:
import yfinance as yf
taiwan = yf.download('^TWII')

[*********************100%***********************]  1 of 1 completed

下列程式碼有誤，無法正常執行！

In [ ]:
# error
import psycopg2
conn = psycopg2.connect(host='192.168.0.252',
                        database='mydatabase_a09',
                        user='a09',
                        password='raspberry')
sql='''
    insert into 股市(date,open,high,low,close,adj_close,volume,name)
    value(%s,%s,%s,%s,%s,%s,%s,%s);
    '''

with conn:
    all_data = taiwan.to_dict(orient='index')
    for key,value in all_data.items():
        date = key.date()
        name = '^TWII'
        adj_close = value[('Adj Close',name)]
        open = value[('Open',name)]
        high = value[('High',name)]
        low = value[('Low',name)]
        close = value[('Close',name)]
        volume = value[('Volume',name)]
        with conn.cursor() as cursor:            
            cursor.execute(sql,[date,open,high,low,close,adj_close,volume,name])

conn.close()

SyntaxError: syntax error at or near "value"
LINE 3:     value('1997-07-02'::date,9094.26953125,9124.2998046875,8...
            ^

In [ ]:
from decimal import Decimal
conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a09",user='a09',password='raspberry')
with conn:
    all_data = taiwan.to_dict(orient='index')
    for key,value in all_data.items():
        date = key.date()
        name = '^TWII'
        adj_close = Decimal(value[('Adj Close', name)])
        open = Decimal(value[('Open', name)])
        high = Decimal(value[('High', name)])
        low = Decimal(value[('Low', name)])
        close = Decimal(value[('Close', name)])
        volume = Decimal(value[('Volume', name)])
        with conn.cursor() as cursor:
            sql='''
            INSERT INTO 股市(date,open,high,low,close,adj_close,volume,name) 
            values(%s,%s,%s,%s,%s,%s,%s,%s) ON CONFLICT DO NOTHING;
            '''
            cursor.execute(sql,[date,open,high,low,close,adj_close,volume,name])
conn.close()

In [ ]:
from decimal import Decimal
conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a09',user='a',password='raspberry')
with conn:
    all_data = hsi.to_dict(orient='index')
    for key,value in all_data.items():
        date = key.date()
        name = '^HSI'
        adj_close = Decimal(value[('Adj Close', name)])
        open = Decimal(value[('Open', name)])
        high = Decimal(value[('High', name)])
        low = Decimal(value[('Low', name)])
        close = Decimal(value[('Close', name)])
        volume = Decimal(value[('Volume', name)])
        with conn.cursor() as cursor:
            sql='''
            INSERT INTO 股市(date,open,high,low,close,adj_close,volume,name) 
            values(%s,%s,%s,%s,%s,%s,%s,%s)
            ON CONFLICT DO NOTHING;            
            '''
            cursor.execute(sql,[date,open,high,low,close,adj_close,volume,name])
conn.close()